.form{
    margin-top: 48px;
    padding: 78px 0px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;

    &-title{
        font-size: 2rem;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 40px;
        text-align: center;
    }

    &-input{
        width: 80%;
        height: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 11px 0;
        font-size: 1rem;

        &::placeholder{
            font-size: 1rem;
        }
    }   

    &-btn{
        width: 20%;
        font-weight: 500;
        font-size: 100%;
        text-transform: uppercase;
        background: transparent;
        border: none;
        transition: all .4s ease;

        @media (min-width: 768px){
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }

    &-icons{
        display: flex;
        gap: 12px;
        align-items: center;
    }

    &-icon{
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 0.8rem;   
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        transition: transform .3s ease;

        @media (min-width: 768px){
            &:hover{
                transform: translateY(-15px);
            }
        }
    }
}

#form{
    background: transparent;
    border-bottom: 1px solid black;
    width: 50%;
    display: flex;
    height: 41px;
    margin-bottom: 62px;
}