.card {
  width: 250px;
  margin: 0px 32px;

  @media (min-width: 768px){
    &:hover &-button{
        visibility: visible;
    }
  }

  &-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    
    img {
      width: 75%;
      height: 75%;
      transition: transform 0.5s ease;

      @media (min-width: 768px) {
        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }

  &-name {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &-description {
    color: #a6a2a2;
    line-height: 24px;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  &-ratings-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
  }

  &-ratings-stars {
    display: flex;
    gap: 5px;
  }

  .card-rating-responce {
    color: #a6a2a2;
  }

  .star{
    cursor: pointer;
    transition: transform 0.2s ease;

    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.4);
      }
    }
  }

  .star-opacity {
    opacity: 0.3;
  }

  .card-price{
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &-button{
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0px;
    font-size: 1.3rem;
    visibility: hidden;
    transition: opacity .3s ease; 

    @media (min-width: 768px){
      &:hover{
        opacity: .8;
      }
    }
  }
}
