.app{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &-container{
        width: 90%;
        padding: 0 20px;
        margin: 0 auto;
    }
}

.btn{
    cursor: pointer;

    &-icon{
        background-color: transparent;
        border: none;
        font-size: 2rem;
    }

    &-anchor{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 3px 1px #000000b0;
        display: grid;
        place-items: center;
        font-size: 2rem;
        background-color: white;
        position: fixed;
        bottom: 20px;
        right: 20px;

        svg{
            fill: black;
        }

        @media (min-width: 768px){
            &:hover{
                background-color: black;
            }

            &:hover svg {
                fill: white;
            }
        }


    }
}

.star{
    cursor: pointer;
    transition: transform 0.2s ease;

    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.4);
      }
    }
  }

  .star-opacity {
    opacity: 0.3;
  }
