*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  max-width: 1950px;
}

#root{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

ul,
li{
  list-style: none;
}